<p>emloyee-list works!</p>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Password</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>

        <tr>
            <td>1</td>
            <td>Archana</td>
            <td>archana12@gmail.com</td>
            <td>234567890</td>
            <td>123456789</td>

            <td>
                <button>Edit</button>
                <button>Delete</button>
            </td>
        </tr>

    </tbody>
</table>